body{
    background-image: linear-gradient(to left ,#234a91,#912077 );
    display: flex;
    justify-content: center;
    align-items: center;
}
.a1{
    background-color: rgb(22, 232, 232);
    width: 400px;
    margin-top: 140px;
    border-radius: 20px 20px 20px 20px;
    border: 2px solid black;
    text-align: center;
}
.name{
   padding: 10px 10px 10px 10px;
    font-size: 16px;
    }

input{
    background-color: white;
   
    margin: 20px 20px 20px 20px ;
    margin-left: 30px;
    padding: 6px 4px;
  
    color: white;
    font-size: 16px;
}

.submit button{
    
    
    margin: 20px 20px 20px 20px ;
    color: black;
    font-weight: bold;
    padding: 8px 10px;
    border-radius: 4px;
    display: block;
margin-bottom: 20px;margin-left: 170px;
}
.submit button:hover{
    background-color: red;
}

.cnt{
   
    margin: 20px 20px 20px 20px ;
    color: black;
    font-weight: bold;
    padding: 8px 10px;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
}
h1{
    font-size: xx-large;
}